.container__main-nav {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
}

.content__main-nav {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
}

.item__menu {
  width: auto;
  height: auto;
  /* height: 50px; */
  margin: 14px 8px 8px 8px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}





/* .subcat {
  position: absolute;
  top: 10px;
  right: 10px;
  color: red;
} */

@media screen and (max-width: 1231px) {
  .container__main-nav {
    display: none;
  }
}

/* li {
  list-style: none;
}

.container__main-nav {
  width: 90%;
  height: 50px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  display: none;
}

.content__main-nav{
  display: flex;
  color: #FFFFFF;
}

.item__main-nav{
  width: auto;
  height: 100%;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  position: relative;
}



.sub-item__main-nav{
  width: 200px;
  height: 50px;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  position: absolute;
  top: 32px;
  left: 2px;
}

@media only screen and (max-width: 524px) {
  .main-nav {
    display: none;
  }
} */