.container__menu-nav {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
}

.sub-container__menu-nav {
  width: auto;
  height: 34px;
  display: flex;
}

@media screen and (max-width: 1231px) {
  
  .container__menu-nav {
    display: none;
  }

}
