.container__header {
  width: 100%;
  height: auto;
  padding: 10px 0px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.container__nav {
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content__nav--logo {
  width: 158px;
  height: 66px;
}

.logo-in-the-pear {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.logo-in-the-pear-responsive {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
}

.container__nav--panel {
  width: 158px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn__panel--nav:first-child {
  justify-content: center;
}
.btn__panel--nav {
  width: 50%;
  height: 100%;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.content__btn--panel__nav {
  width: 32px;
  height: 32px;
  color: #FFFFFF;
  cursor: pointer;
}

@media only screen and (max-width: 624px) {

  .container__nav {
    width: 90%;
    height: auto;
  }

  .content__nav--logo {
    width: 86px;
    height: 34px;
  }

  .logo-in-the-pear {
    display: none;
  }

  .logo-in-the-pear-responsive {
    display: block;
  }

  .container__nav--panel {
    width: 86px;
    height: 34px;
  }
  
  .btn__panel--nav:first-child {
    justify-content: flex-start;
  }

  .content__btn--panel__nav {
    width: 22px;
    height: 22px;
  }

}
