.item__menu {
  width: auto;
  height: auto;
  /* height: 50px; */
  margin: 14px 8px 8px 8px;
  text-transform: uppercase;
  display: flex;
  cursor: pointer;
  position: relative;
}

.element {
  font-size: 12px;
  font-weight: 500;
  color: #FFFFFF;
}

.subCatMenuContainer {
  width: 100px;
  height: 100px;
  padding: 8px;
  background-color: #FFFFFF;
  color: #000000;
  position: absolute;
  top: 20px;
  left: 8px;
  display: none;
}

.item__menu:hover > .subCatMenuContainer {
  display: block;
}